@media screen and (min-width:1025px){
        *{
           box-sizing: border-box;
        }
        
        html, body{
           font-family:"Roboto" ,sans-serif;
           font-size:18px;
           margin:0;
           padding:0;
           flex-direction:column;
        }
        .logo1{
          display:flex;
          justify-content: center;
          margin:0 auto;
          height:40px;
          margin-top:10px;
          margin-bottom:10px;
       }
       .img1{
          width:60%;
          height:400px;
          object-fit: cover;
          margin-left:300px;
       }
       .container1{
          width:60%;
          height:1300px;
          background-color:#F2F2F2;
          border-radius:50px 50px 0 0;
          transform:translateY(-50px);
          margin-left:300px;
       }
        h1{
           padding-top:30px;
           margin-top:0px;
           margin-left:20px;
           font-family:"shrikhand", cursive;
           font-size:24px;
        }
        h2{
          border-bottom: solid 3px #99E2D0;
          width:40px;
          margin-left:20px;
          padding-top:40px;
          font-weight:lighter;
          font-size:large;  
         }
        .vignets{
           animation-name:slideIn;
           animation-duration:2s;
           animation-timing-function:linear;
          
        }
           @keyframes slideIn{
             from{
               transform:translate3d(0, 50px, 0);
               opacity:0;
             }
             to{
              transform:translate3d(0, 0, 0);
               opacity:1;
             }
           }
           
    /* heart checkboxes */
    
    .restaurantmenu__presentation__title__like,
    .restaurants__figcaption__like {
      position: relative;
      width: 2rem;
      margin: 0.3rem 0.5rem 0 0;
      margin-left:750px;
      margin-top:-50px;
    }
    
    .restaurants__figcaption__like__emptyheart {
      width: 1.5rem;
      position: absolute;
    }
    .restaurant__figcaption__like__emptyheart:hover{
      opacity:0;
    }
    .restaurants__figcaption__like__fullheart {
      width: 1.5rem;
      position: absolute;
      opacity: 0;
    }
    
    .restaurants__figcaption__like__fullheart:hover {
      opacity: 1;
      transition: 1s ease-in-out;
    }
    /*checkboxe et apparition du prix*/
    .card{
       box-sizing:border-box;
       background:#ffffff;
       padding:15px;
       border-radius:20px;
       margin:0 auto;
       height:80px;
       width:95%;
       position:relative;
       margin-bottom: 10px;
    }
    .card div{
    position:absolute;
     top:0;
     right:0;
     width:0px;
     height:80px;
     border-radius:0 20px 20px 0;
     background:#009688;
     transition:width ease 0.5s;
     text-align:center;
    }
    
    .card:hover div{
    
     width:80px;
    
    }
    h3{
       font-size:16px;  
       margin-top:-3px;
       text-overflow:ellipsis;
        overflow:hidden;
        white-space: nowrap;
        transition:width ease 0.7s;
       }
       
    .card:hover h3{
       
      width:calc(100% - 100px);
       
       }
    .card p{
    font-size:16px;
     margin-top:-2px;
     text-overflow:ellipsis;
     overflow:hidden;
     white-space: nowrap;
     transition:width ease 0.7s;
    }
    
    .card:hover p{
    
     width:calc(100% - 100px);
    
    }
    .card svg{
    width:0px;
    height:28px;
    
    }
    .card:hover svg{
       width:28px;
       transform:rotate(360deg);
       transition:transform ease 1s;
       display:inline-block;
       /* margin:0 auto !important; */
       margin-top:27px;
    }
    .card span{
       display:flex;
       width:100%;
       justify-content:flex-end;
       align-items:center;
       margin-top:-32px;  
       transition:width ease 0.5s;
       font-size:16px;
    
    }
    .card:hover span{
       width:calc(650px - 0px);
    }
    .boutton{
    display:flex;
    justify-content:center;
    align-items:center;
    width:220px;
    height:50px;
    color:#ffffff;
    border-radius:30px;
    background-image: linear-gradient(to right top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    margin:0 auto;
    position:relative;
    cursor:pointer;
    margin-top:40px;
    margin-bottom:80px;
    filter:brightness(90%);
    transition:filter 0.7s ease, box-shadow 0.7s ease;
    
    }
    .button-explorer:hover{
    
         filter:brightness(100%);
         box-shadow:2px 2px 5px 9px #e0e0e0;
       
    }
    /*footer*/
    footer{
       height:200px;
       background-color:#424242;
    }
    .font-logo{
       display:flex;
       font-family: "Shrikhand", cursive;
       margin-bottom:20px;
    }
    .bas-page{
       padding-left:20px;
       color:#ffffff;
       padding-top:20px;
    }
    
    .icone{
       width:18px;
       height:18px;
    }
    footer a{
       color:#ffffff;
       text-decoration:none;
    } 
    #toLeft {
       position:absolute;
       top:10px;
       left:300px;
       cursor:pointer;
       font-size:25px;
       line-height:45px;
       color:#000000;
       text-align:center;
      } 
    }