@media all and (min-width: 768px){
    h2{
        margin-left:300px;
        margin-bottom:20px;
        padding-top:40px;
        font-weight:bold;
     }
    button{
        display:flex;
        justify-content:center;
        align-items:center;
         border:none;
         border-radius:20px;
         width:330px;
         margin:0 auto;
         margin-top:20px;
         margin-left:220px;
         cursor:pointer;
         height:70px;
         position:relative;
         font-weight:bold;
         font-family:"Roboto", sans-serif;
         font-size:16px;
         background-color:#F2F2F2;
         
     }
     /* heart checkboxes */

.restaurantmenu__presentation__title__like,
.restaurants__figcaption__like {
position: absolute;
width: 2rem;
margin: 0.3rem 0.5rem 0 0;
cursor: pointer;
margin-top:-35px;
margin-left:700px;

}

.restaurants__figcaption__like__emptyheart {
width: 1.5rem;
position: absolute;
margin-top:-20px;
}
.restaurant__figcaption__like__emptyheart:hover{
opacity:0;
}

.restaurants__figcaption__like__fullheart {
width: 1.5rem;
position: absolute;
opacity: 0;
margin-top:-20px;
}

.restaurants__figcaption__like__fullheart:hover {
opacity: 1;
transition: 1s ease-in-out;
} 
    }