@media screen and (min-width:768px) and (max-width: 1024px){
    html, body{
        font-family: "Roboto", sans-serif;
        margin:0;
        padding:0;
        flex-direction:column;
     }
    .logo{
        display:flex;
        justify-content:center;
        margin:0 auto;
        height:40px;
        margin-top:10px;
        margin-bottom:10px;
     }
     .barrederecherche{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height:50px;
        background:#e0e0e0 ;
     }
     .button-explorer{
        display:flex;
        justify-content:center;
        align-items:center;
        width:300px;
        height:50px;
        color:#ffffff;
        border-radius:30px;
        background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        margin:0 auto;
        font-size:20px;
        font-weight:lighter;
        filter:brightness(90%);
        transition:filter 0.7s ease, box-shadow 0.7s ease;
     }
     .button-explorer:hover{
          filter:brightness(100%);
          box-shadow:2px 2px 5px 9px #e2e2e2;
     }
     a{
        text-decoration:none;
     }
     svg{
        width:25px;
        height:25px;
        cursor:pointer;
        overflow:visible;
     }
     h1{
        position:relative;
        display:flex;
        justify-content:space-around;
        align-items: center;
        font-weight:bolder;
        font-size:28px;
     }
     p{
        font-size:18px;
     }
     .iconemap{
        height:20px;
        padding-right:20px;
     } 
     input{
        width:120px;
        border:none;
        background-color:#e0e0e0;
        color: black;
         font-weight: bold;
         display:flex;
         justify-content: center;
         align-items: center;
        
     }       
     .nav-box{
        padding:30px;
        text-align:center;
        background-color: #F2F2F2;
     }
     #bloc-bouttons-fonctionnement h3{
        margin-left:300px;
        font-size:1.5rem;
     }
     button{
        display:flex;
        justify-content:center;
        align-items:center;
         border:none;
         border-radius:20px;
         width:330px;
         margin-left:230px;
         margin-top:20px;
         margin-right:20px;
         cursor:pointer;
         height:70px;
         position:relative;
         font-weight:bold;
         font-family:"Roboto", sans-serif;
         font-size:16px;
         background-color:#F2F2F2;
         
     }
     
     button span{
        color:#000000;
        display:flex;
        height:70px;
        justify-content:center;
        align-items:center;
        margin-right:20px;
     }
     button span svg{
        display:flex;
        justify-content:center;
        align-items:center;
        height:20px;
        width:20px;
     }
     button span:last-child{
        display:inline-block;
        width:24px;
        height:24px;
        background:#9356DC;
        color:#ffffff;
        text-align:center;
        padding-top:4px;
        border-radius:12px;
        position:absolute;
        top:50%;
        left:0;
        transform:translate3d(-50%,-50%, 0);
        
     }
     button:hover{
       
        background:#f3e5f5;
        box-shadow:0px 0px 5px 5px #e0e0e0;
      
     }
     button:hover svg path{
       
        fill:#9356DC;
     
     }
     h2{
        margin-left:20px;
        margin-bottom:20px;
        padding-top:40px;
        font-size:1.5rem;
     }
     .carte{
        width:100%;
        height:1410px;
        background-color:#F2F2F2;
        position:relative;
     }
     .image{
        width:100%;
        height:250px;
        object-fit:cover;
        object-position:left;
        border-radius:15px  15px 0 0;
        margin-bottom:10px;
     
     }
     .boite{
        width:95%;
        height:310px;
        margin:0 auto;
        background-color:#ffffff;
        margin-bottom:20px;
        border-radius:15px 15px;
        text-decoration:none;
        display:block !important;
        color:#000000;
        position:relative;
     }
     
     .margetext{
        display:flex;
        justify-content:flex-start;
        align-items:center;
        width:340px;
        margin-left:20px;
     }
     
     
     .nouveau{
     border:solid 1px transparent;
     border-radius:5px;
     background-color: #9fcfc3;
     color:#1b5e20   ;
     font-weight: bold;
     font-size:16px;
     position:absolute;
     width:100px;
     height:40px;
     display:flex;
     justify-content:center;
     align-items:center;
     top:5%;
     right:15px;
     
     }
     /* heart checkboxes */

.restaurantmenu__presentation__title__like,
.restaurants__figcaption__like {
position: absolute;
width: 2rem;
margin: 0.3rem 0.5rem 0 0;
cursor: pointer;
margin-top:-10px;

}
.restaurants__figcaption__like__emptyheart {
width: 1.5rem;
position: absolute;
margin-top:-20px;
margin-left:670px;
}
.restaurant__figcaption__like__emptyheart:hover{
opacity:0;
}

.restaurants__figcaption__like__fullheart {
width: 1.5rem;
position: absolute;
opacity: 0;
margin-top:-20px;
}

.restaurants__figcaption__like__fullheart:hover {
opacity: 1;
transition: 1s ease-in-out;
} 
     /*footer*/
footer{
    height:180px;
    background-color:#424242;
 }  
 .font-logo{
    display:flex;
    font-family: "Shrikhand", cursive;
    margin-bottom:20px;
 }
 .bas-page{
    padding-left:20px;
    color:#ffffff;
    padding-top:20px;
 }
 .icone{
    width:18px;
    height:18px;
 }
 footer a{
    color:#ffffff;
    text-decoration:none;
 }
}