
.button1{
    color:white;
    background:transparent;
    border:0;
    position:relative;
    overflow:hidden;
    padding:20px 50px;
    border-radius:30px;
    cursor:pointer;
    transition:all .10s;
    background:linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
}
