@media all and (max-width: 768px){
    *{
       box-sizing: border-box;
    }
    
    html, body{
       font-family:'Roboto' sans-serif;
       font-size:18px;
       margin:0;
       padding:0;
       flex-direction:column;
    }
    .container2{
       display:table;
       width:100%;
       height:auto;
       background-color:#F2F2F2 ;
       border-radius:50px 50px 0 0;
    
    }
    p{
       border-bottom:solid 3px #99E2D0 ;
       width:40px;

    }
    button{
       display:inline-block;
       height:50px;
       width:95%;
       background-color:#ffffff;
       margin-top:10px;
       border-radius: 20px;
       border:none;
       margin-left:10px;
    }
    button span{
       display:inline-block;
      }
      .boutton{
         display:flex;
         justify-content:center;
         align-items:center;
         width:220px;
         height:50px;
         color:#ffffff;
         border-radius:30px;
         background-image: linear-gradient(to right top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da); 
         margin:0 auto;
         position:relative;
         cursor:pointer;
         margin-top:40px;
         margin-bottom:100px;
      }
/*footer*/
footer{
   height:150px;
   background-color:#424242;
}
.bas-page{
   padding-left:20px;
   color:#ffffff;
   padding-top:20px;
}
.icone{
   width:18px;
   height:18px;
}
   
 }